:root {
	/* sharp attack, smooth end */
	--sharp-in-smooth-out: .01,.96,.51,.94;
}

* {
	margin: 0;
	padding: 0;
}

.app {
}

body {
	color: #050607;
	font-family: 'Futura';
	font-weight: 500;
	font-size: 26px;
	line-height: calc(36px * 2);
	cursor: default;
}

.list {
	display: grid;
	grid-template-columns: [left-edge] auto [main] 800px auto [right-edge];
}
.list__head,
.list__tail,
.list__empty {
	grid-column: main;
}
.list__items,
.list__item {
	display: grid;
	grid-template-columns: inherit;
	grid-column: span left-edge / right-edge;
}

.list ::selection {
	background: gold;
}
.list__items {
	list-style: none;
}
.list__head {
	padding-top: calc(36px * 1);
	border-bottom: none;
}
.list__tail {
	border-bottom: none;
}


.item {
	transition: transform 40ms cubic-bezier(var(--sharp-in-smooth-out));
	position: relative;
	grid-column: main;
}
.item:hover {
	transform: translateX(2px);
	transition-duration: 100ms;
}
.item:active {
	transform: translateX(5px);
	transition-duration: 50ms;
}

.title {
	position: relative;
	font-size: 36px;
	font-weight: 600;
	line-height: calc(36px * 3);
	margin: calc(36px / 2) auto;
	transition: transform 500ms cubic-bezier(var(--sharp-in-smooth-out));
}
.title:hover {
	transform: translateX(-2px);
	transition-duration: 150ms;
}


.field {
	-webkit-appearance: none;
	box-sizing: border-box;
	display: block;
	border: none;
	background: transparent;
	line-height: inherit;
	font-family: inherit;
	font-size: inherit;
	width: 100%;
	border-bottom: 2px solid #e5e6e7;
}
.field:focus {
	outline: none;
}